*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100vw;
    height: 220vh;
    background-color: rgb(238, 241, 210)
}
nav{
    border: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    background-color: rgb(0, 0, 0)
}
nav h1{
    color: rgb(184, 184, 174 );
}

.nav-link ul{
    display: flex;
    list-style-type: none;
}
.nav-link li a{
    text-decoration: none;
    color: rgb(184, 184, 174);
    margin:0 14px;
}
.main-page{
    padding: 1%;
    color: rgb(184, 184, 174);
}

.row{
    display: flex;
}
.col-1{
    flex-basis: 50%;
}
.col-1 p{
    margin-top: 30px;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-1 h1{
    color: rgb(0, 0, 0);
    background-color: #bbbbbb;
    border-style: groove;
}
.col-2 img{
    border-radius: 10px;
    width: 900px;
    height: 750px;
    border: 10px solid rgb(107, 93, 93);
    border-style: hidden;
}
.col-3 h2{
    color: rgb(0, 0, 0);
    margin: 2%;
    font-family: 'Times New Roman', Times, serif;
}
.Hobby {
    display: flex;
}
.Hobby p {
    margin: 5% 50px;
}
.col-3 img{
    width: 250px;
    height: 300px;
    border: 10px solid rgb(6, 6, 14);
    border-style: outset;
}
.col-3 p{
    color: rgb(0, 0, 0);
}
.Hobby svg{
    width: 150px;
    height: 170px;
    margin: 5% 50px;
    cursor: pointer;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    padding: 0.5%;
}
.footerline
{
    width: 100%;
    height: 3px;
    background-color: black;
}
.hobbies {
    margin: 5% 50px;
}
.social-icons a{
    color: black;
    transition: color 0.6s;
}
.social-icons ion-icon{
    display: flex;
    flex-direction: column; 
    vertical-align: auto;
    margin-top: 20px;
    width: 150px;
    height: 250px;
}
.social-icons a:hover{
    color: rgb(4, 140, 252);
}.social-icons {
    width: 150px;
    background-color: #333; 
    padding: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



